<h3><%=@question.subject%></h3>

<p>Creater: <%=@question.creater%></p>
<p>Question: <%=@question.body%>
  <a href="/questions/<%="#{params[:id]}"%>/edit">edit</a>
  <%= link_to 'delete', question_path(@question), method: :delete, data: {confirm: 'Are you sure?'}%>
</p>
<h3>Add an answer:</h3>

<%if @answer.errors.any?%>
  <%@answer.errors.full_messages.each do |msg|%>
   <%= msg%><br/>
  <%end%>
<%end%>

<%= form_for [@question, @answer] do |f| %>
  <%= f.label :creater %>:
  <%= f.text_field :creater %>

  <%= f.label :body %>
  <%= f.text_field :body %>

  <%= f.submit %>
<%end%>
<br/>

<h3>Answers:</h3>

<% @question.answers.each do |answer|%>
  <p>
    <%=answer.creater%> responds: <%=answer.body%>
    <%= link_to 'delete', question_answer_path(@question, answer), method: :delete, data: {confirm: 'Are you sure?'}%>
  </p>
<%end%>
